.instructions{

border: 1px solid darken(#f8f8f8, 10%);
border-radius: 5px;
//margin-top:81px;
//margin-bottom: 3rem;
padding: 1.5rem 3rem ;


h1{

    color: #333;
    font-size: 2rem;
    text-align: center;
}





.lifeline-icon {
  color:  #57b846;
  position: relative;
  top: -1px;
  cursor: pointer;

}
.browser-default{

    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

img{

    width: 80%;
    height: 50%;
}



}

@media(max-width : 768px){
 

    .instructions img {
        width: 100% !important;
        height: 150% !important;
    }

}