.ok-icone{

    cursor: pointer;
    color:#57b846;
    text-align: center;
    margin: 4rem auto 0 auto;
}

.container{

    background-color: #f8f8f8;
    padding: 1rem 3rem;
    border-radius: 30px;

}

.stat{
   position: relative;
   right: -30px;
}

.right-s{

    position: relative;
    left: -30px;
}

.link{

    display: inline-flex;
    justify-content: space-evenly;

  
}


.sectionLink {
    margin-top: 30px;
    text-align: center;
}
.li-link{
   margin-left: 52px;
   


}

