*{

    padding: 0;
    margin: 0;
}


body{


    font-family:'Quicksand', sans-serif;
}

.toast-invalid{
    background-color: #F44336 !important;
    border-radius: 5px !important;
    color: #fff !important;
}

.toast-valid{
    background-color: #4caf50 !important;
    border-radius: 5px !important;
    color: #fff !important;
}